*

!.gitignore
!rc.lua
!LICENSE
!README.md
!/madwidgets/
!/madwidgets/**
!/modules/
!/modules/**
!/themes/
!/themes/**
!/icons/
!/icons/**
!/scripts/
!/scripts/*.rb
!/scripts/*.desktop
!wallpaper.jpg
!icon.png
!quick_actions.txt