*

!.gitignore
!rc.lua
!LICENSE
!README.md
!/madwidgets/
!/madwidgets/**
!/modules/
!/modules/**
!/themes/
!/themes/**
!/icons/
!/icons/**
!/scripts/
!/scripts/**
!wallpaper.jpg
!icon.png
!quick_actions.txt
timer.data